.headerContainer {
  height: 6rem;
}

.headerContent {
  max-width: 1120px;
  height: 100%;

  margin: 0 auto;
  padding: 0 1.25rem;

  display: flex;
  align-items: center;

  img {
    height: 1.5rem;
    cursor: pointer;
  }
}
